<!DOCTYPE html>

<head> <title> Employee And Skills </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="jumbotron">
    <div class="container text-center" style="margin-bottom:0;padding:0px">
      <h1> Employee And Skills Data Storage </h1>
      <p> Your Learning, Our Value </p>
    </div>
  </div>

  <ul class="nav nav-tabs">

    <li class="nav-item">
      <button class="btn btn-info" routerLink="/empList" > Employee List </button>
    </li>

    <li class="nav-item">
      <button class="btn btn-info" routerLink="/addDetails" > Add New Employee </button>
    </li>
    <!-- <img src="../../assets/images/cog1.jpg" alt="Employee Skills" width="100%">  -->

    </ul>



</body>

